.dashboard {

  .input-file {
    text-align: center;
    margin-top: 12px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid $colorPurple;

    label {
      font-size: 1.1rem;
      color: $colorPurple;
      font-weight: 500;
    }

    input {
      margin-top: 12px;
      padding: 4px 8px;
    }
  }

  .input-title {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
    height: 210px;
    border-bottom: 1px solid $colorPurple;

    input {
      width: 90%;
      padding: 6px 0;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      color: $colorPurple;
      outline: none;
    }
  }

  .input-tags {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;

    h3 {
      font-size: 1.1rem;
      color: $colorPurple;
      font-weight: 500;
    }

    label {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: .9rem;
    }

    .theme {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 40px;
      text-align: center;

      .colors {
        span {
          display: inline-block;
          height: 18px;
          width: 18px;
          border-radius: 2px;
          margin: 10px 5px 5px 5px;
          cursor: pointer;
        }

        .yellow {
          background-color: #fff4e2;
          border: 2px solid #fff1d8;
        }
        .green {
          background-color: #e0ffdb;
          border: 2px solid #cbffce;
        }
        .blue {
          background-color: #e2eeff;
          border: 2px solid #c8d9ff;
        }
        .red {
          background-color: #ffe2e2;
          border: 2px solid #ffc8c8;
        }
        .purple {
          background-color: #f1e2ff;
          border: 2px solid #d7c8ff;
        }
      }
      .size {
        input {
          width: 50px;
          padding: 2px;
          text-align: center;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 3px;
          color: $colorPurple;
          outline: none;
        }
        span {
          font-size: .9rem;
          color: $colorPurple;
        }
      }
    }

  }

  .input-url {
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid $colorPurple;

    input {
      width: 90%;
      padding: 6px 0;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      color: $colorPurple;
      outline: none;
    }
  }

  .print {
    margin-top: 30px;
    text-align: center;

    button {
      font-size: 1.2rem;
      font-weight: 500;
      color: $bgLight;
      padding: 6px 10px;
      background-color: $colorPurple;
      border: 1px solid white;
      border-radius: 3px;
    }
  }

}
