.tags-list {
  text-align: center;

  li {
    display: inline-block;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 10px 18px;
    margin: 6px 4px;
    background-color: transparent;
    transition: all .3s;
  }

  .yellow {
    background-color: #fff4e2;
    border: 2px solid #fff1d8;
  }
  .green {
    background-color: #e0ffdb;
    border: 2px solid #cbffce;
  }
  .blue {
    background-color: #e2eeff;
    border: 2px solid #c8d9ff;
  }
  .red {
    background-color: #ffe5e5;
    border: 2px solid #ffd3d3;
  }
  .purple {
    background-color: #f1e2ff;
    border: 2px solid #d7c8ff;
  }

}

.icon-tag img {
  height: 50px;
}
